@font-face {
  font-family: BMitra;
  font-weight: normal;
  src: url('../../static/fonts/BMitra.eot?#') format('eot'), url('../../static/fonts/BMitra.woff') format('woff'), url('../../static/fonts/BMitra.ttf') format('truetype');
}
@font-face {
  font-family: BMitra;
  font-weight: bold;
  src: url('../../static/fonts/BMitraBold.eot?#') format('eot'), url('../../static/fonts/BMitraBold.woff') format('woff'), url('../../static/fonts/BMitraBold.ttf') format('truetype');
}
body {
  direction: rtl;
  background: url(../../static/img/pattern.png);
}
body,
p,
.btn,
label {
  font-family: 'B Mitra', Hekmat;
}
