@font-face {
  font-family: Hekmat;
  font-weight: normal;
  src: url('../static/fonts/BMitra.eot?#') format('eot'), url('../static/fonts/BMitra.woff') format('woff'), url('../static/fonts/BMitra.ttf') format('truetype');
}
@font-face {
  font-family: Hekmat;
  font-weight: bold;
  src: url('../static/fonts/BMitraBold.eot?#') format('eot'), url('../static/fonts/BMitraBold.woff') format('woff'), url('../static/fonts/BMitraBold.ttf') format('truetype');
}
